@charset "UTF-8";
body {
	padding: 90px 90px;
	font-size: 16px;
	font-family: Tahoma, arial, sans-serif;
}

input{
	padding: 10px;
	border: 1px solid #C9C9C9;
	width: 200px;
	color: #4F4F4F;
	font-size: 15px;
	background: #E8E8E8;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-moz-box-shadow: (0,0,0,0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	}

#msg{
	width: 320px; 
	height: 60px; 
	resize: none;
	padding:10px;
	color: #4F4F4F;
	background: #E8E8E8;
	border: 1px solid #C9C9C9;
	font-size: 15px;
	font-family: Tahoma, arial, sans-serif;
}

#tablea input{
	width:405px;
}	

#tableb {
	width:320px;
}

#tablec input{
	width: 150%;
}	

input:focus{
	background: white;
	border-radius: 1px;
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}

.submit input{
	width: 100px;
	height: 40px;
	background-color: #133141;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn{
	border: 1px transparent #000;
	border-width: 1px;
	border-style: transparent;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
}

h1{
	width: 100%;  
	font-size: 40px;  
	text-align: center;
}

#uf {
	width: 50px;
}

#number{
	width: 35px;
}

#center{
	padding-bottom: 30px;
}

.lef{
	left: center;
}

.ed{
	width: 90%;
}

.aut{
	width: 90%;
}